/*navbar css start*/

#navbar{
    margin-top:2%;
  transition: 2s linear;
position: fixed;
 overflow: hidden;
 background-color: #000000;
}


#logo{
    display: block;
    border-radius: 10%;
    border:2px solid #FCBE02;
    transition: 1s;
    margin-top: 0.5%;
}
#logohidden{
    left:-100px;
    position: fixed;
   overflow: hidden;
    z-index: 99;
    border-radius: 10%;
    border:2px solid #FCBE02;
    transition: 1s linear;
    margin-top: 0.5%;
}

.navbar{
position: fixed;
z-index: 50;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
height: 70px;
width: 100%;
}
#navContainer{
    margin-left: 0%;
    margin-right: 0%;
    max-width: 90%;
    position: fixed;

    z-index:99;
    background-color: #000000;
}
#navbar-toggler{
    width: 80px;
    height: 60px;
}
#home{
    color: white;
    font-family: 'Roboto';
}
#pg{
color: white;
font-family: 'Roboto';
}
#contact{
color: white;
font-family: 'Roboto';
}
#aboutUs{
color: white;
font-family: 'Roboto';
}

.nav{

    position: fixed;
    overflow: hidden;
    background-color: #000000;
}
.ms-auto{
    margin-left: 0%;
}
.bg-col{
    background-color: black;
}

#title{
    color:#FCBE02;
    padding-left: 5%;
}
.nav-item{
    padding-right: 25px;
    padding-left: 25px;
    width: fit-content;
}

#navmenu{
  width:100%;
}
#logoCompressed{
    border:#FCBE02 1px solid;
    border-radius: 10%;
}
#pg:hover{
        color:#FCBE02 ;
}
#home:hover{
     color:#FCBE02 ;
    }
 #contact:hover{
        color:#FCBE02 ;
         }
#aboutUs:hover{
  color:#FCBE02 ;
}

@media only screen and (max-width: 1000px) {
    #navContainer{
        margin-top: 200px;
        background-color: transparent;
        max-width: 100%;
        width: 100%;
    }
    #logohidden{

        margin-top: 3%;
    }
    #logo {

        display: none;
    }
    #nav_bar{
        background: transparent;
    }
    .navbar-brand{
        display: flex;
        margin-left:2%;
    }
    #navbar-toogler{
        margin-top: 3%;
    }
    .navContainer{
        margin-top: 3%;
        margin-left: 0%;
    }
    #title{
        padding-top: 8%;
        padding-left: 2%;
        display: none;
    }



    .nav-item{
        padding-right: 25px;
        padding-left: 30px;
    }
}
/*navbar css end*/

/*contact us css start*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400&display=swap');
@media(max-width:767px){
    .box{
        width:50%;
        margin-left: 20%;
    }
}
@media(min-width:768px){
    .box{
        width: 70%;
        margin-left: 10%;
    }
}
@media(width:3600px){

}
.input-box{
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: transparent;
    margin: 6%;
    padding: 6px;
    color: #FFFFFF;
    font-weight: 300;
    font-family:'Zilla Slab,serif';
    font-size:160%;
    width: 50%;
}
#i1:hover{
    border-bottom: 1px solid #FFBF00;
}
#i2:hover{
    border-bottom: 1px solid #FFBF00;
}
#mess1{
    background-color: transparent;
    border: 3px solid #FFFFFF;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 6%;
    color: #FFFFFF;
    font-weight: 400;
    font-family:'Zilla Slab,serif';
    font-size:160%;
}
#mess1:hover{
    border: 3px solid #FFBF00;
}
.sub{
    background-color: #C4C4C4;

}
.sub:hover{
    background-color: rgb(87, 243, 243);
    font-weight: bolder;
}
::placeholder{
    color: #FFFFFF;
}
.imgs:hover{
    animation: rotate 0.6s linear 0.5;
    -webkit-animation: rotate 0.6s linear 0.5;
    -moz-animation: rotate 0.6s linear 0.5;
    -o-animation: rotate 0.6s linear 0.5;
    -ms-animation: rotate 0.6s linear 0.5;
}
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-webkit-keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-moz-keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-o-keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@-ms-keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
#img1{
    width: 8%;
}
#img2{
    width: 13%;
}
#img3{
    width:10%;
}
#img4{
    width:12%;
}
.social{
    text-align: center;
}
.sbox{
    background-color: #252426;
    box-shadow: 0px 12px 18px #000000;
}
/*contact us css end*/


/*home css start*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .carousel-item-home {
  height: 500px;
}

.carousel-item-image img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


.custom {
font-family: 'Roboto', sans-serif;
 color: white;
}

.private {
font-family: 'Roboto', sans-serif;
 color: yellow;
}

p {
    font-size: 44px;
}


/*home css end*/



/*about us css start*/
#about_us{
  background-color:#010005DE;

}

.heading
{
  text-align: center;
  color:#FCBE02;
  font-family: 'Roboto';
  text-decoration: underline;
  font-size: 64px;
  padding-bottom: 30px;
  padding-top: 10px;

}
.outer
{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.inner
{
  padding:2%;
}

.text{
  color: #fff;
  font-family: Roboto;
  padding-right: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: left;
  font-size:1.2rem;
}
.card_image
{
  text-align:center;
/*  width: 240px;
  height:240px;*/
  width:180px;
  height: 180px;
  padding:5%;
  border-radius: 40px;
}

.team_name
{
  color:#FCBE02;
}

@media(max-width:1199px)
{
  .card_image
  {
    text-align:left;
  /*  width: 240px;
    height:240px;*/
    width:160px;
    height: 160px;

    padding-left: :2%;

    /*border-radius: 40px;*/
  }
  .outer
  {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;

  }

}
.intro
{
  color: #fff;
  font-family: Roboto;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.card:hover{
  transform:translateY(-10px);
}
@media(max-width:991px)
{
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:250px;
    height: 250px;

    padding-left:5%;

    /*border-radius: 40px;*/
  }
  .outer
  {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .intro
  {
    color: #fff;
    font-family: Roboto;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .img_box{
    padding-left: 5%;
    text-align: center;
  }
}
@media(max-width:575px)
{
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:250px;
    height: 250px;

    padding-left:5%;

    border-radius: 40px;
  }
  .text{
    color:#fff;
    font-family: Roboto;
    /*padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;*/
    padding: 5%;
    text-align: left;
    font-size:1rem;
  }
  .img_box{
    /*padding-left: 8%;*/
    text-align: center;
  }
}
@media (max-width:446px) {
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:200px;
    height: 200px;

    padding-right: 5%;

    border-radius: 40px;
  }
  .img_box{
    padding-left: 8%;
    text-align: center;
  }
}


/*about us css end*/

/*project gallery css start*/
.body{
	/* background-color: rgba(1, 0, 5, 0.87); */
	/* background-color: #252426; */
	/* background: #fff; */
	background-repeat: repeat;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#testimonial {
    /* padding: 30px 0px 20px; */
    color: #fff;
    /* background-color: #010005; */
	background-color: rgba(1, 0, 5, 0.87);
	height:100%;
	justify-content: center;
	align-items: center;
}


#testimonial .carousel-content {
    padding: 0px 0px 20px 0px;
    width: 100%;
    margin: 0 ;
    /* position: absolute; */
	margin-left: 155px;
	padding-right: 60px;
	margin-right: 50px;

}
#testimonial h3 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}
#testimonial p {
    font-size: 1rem;
}

#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}
@media (max-width: 576px) {
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}

#testimonial h3, #testimonial p {
    text-align: center;
}
}


/* .row{
	margin-top: 150px;
} */

.section-title{

	font-family: Zilla Slab;
	font-size: 64px;
	text-align: center;
	color:#FCBE02;
	/* margin-top: 50px; */
	padding-top: 50px;
}
.carousel-item-projectgallery{
	border:2px #fff;
}
.projectbox
{
  text-align: center;
}

#contentbox{
	background-color: rgba(238, 238, 238, 0.23);
	/* padding: 125px; */
	/* padding-bottom: 175px; */
	/* height:400px; */
	height:fit-content;
	width:70%;
	border-radius: 28px;
	margin-top: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	padding:20px ;

  }
#maintext{
	text-align: center;
	padding-top: 20px;
	word-wrap: break-word;
	overflow:hidden;


}
.one{
	margin-top: 0px;

}
#id{
	/* width:60px;
	height: 10px; */
	/* width: 100%; or any custom size */
	width:200px;
    height: 100%;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    object-fit: contain;
	padding-top: 30px;
	padding-left: 10px;
}
@media(max-width:768px){
	#maintext{

		word-wrap: break-word;
		overflow:hidden;
	}
}
@media(max-width:992px){
	#testimonial .carousel-content {
		margin-left: 80px;

	}
}
@media(max-width:446px){
	#testimonial .carousel-content {
		margin-right: 100px;

	}
}
@media(max-width:991px){
	#id{
		/* padding-left: 50px; */
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
}

/*project gallery css end*/
