

/*home css start*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .carousel-item-home {
  height: 500px;
}

.carousel-item-image img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}


.custom {
font-family: 'Roboto', sans-serif;
 color: white;
}

.private {
font-family: 'Roboto', sans-serif;
 color: yellow;
}

p {
    font-size: 44px;
}


/*home css end*/



/*about us css start*/
#about_us{
  background-color:#010005DE;

}

.heading
{
  text-align: center;
  color:#FCBE02;
  font-family: 'Roboto';
  text-decoration: underline;
  font-size: 64px;
  padding-bottom: 30px;
  padding-top: 10px;

}
.outer
{
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.inner
{
  padding:2%;
}

.text{
  color: #fff;
  font-family: Roboto;
  padding-right: 0.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align:left;
  font-size:1.2rem;
}
.card_image
{
  text-align:center;
/*  width: 240px;
  height:240px;*/
  width:180px;
  height: 180px;
  padding:5%;
  border-radius: 30px;
}

.team_name
{
  color:#FCBE02;
  font-weight: bold;
}

@media(max-width:1199px)
{
  .card_image
  {
    text-align:left;
  /*  width: 240px;
    height:240px;*/
    width:160px;
    height: 160px;

    padding-left:2%;

    /*border-radius: 40px;*/
  }
  .outer
  {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;

  }

}
.intro
{
  color: #fff;
  font-family: Roboto;
  text-align: left;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 30px;
  padding-bottom: 30px;

}
.card:hover{
  transform:translateY(-10px);
}
@media(max-width:991px)
{
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:250px;
    height: 250px;

    padding-left:5%;

    /*border-radius: 40px;*/
  }
  .outer
  {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .intro
  {
    color: #fff;
    font-family: Roboto;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .img_box{
    padding-left: 5%;
    text-align: center;
  }
}
@media(max-width:575px)
{
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:250px;
    height: 250px;

    padding-left:5%;

    border-radius: 40px;
  }
  .text{
    color:#fff;
    font-family: Roboto;
    /*padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;*/
    padding: 5%;
    text-align: left;
    font-size:1rem;
  }
  .img_box{
    /*padding-left: 8%;*/
    text-align: center;
  }
}
@media (max-width:446px) {
  .card_image
  {
    text-align:center;
  /*  width: 240px;
    height:240px;*/
    width:200px;
    height: 200px;

    padding-right: 5%;

    border-radius: 40px;
  }
  .img_box{
    padding-left: 8%;
    text-align: center;
  }
}

@media(max-width:800px)
{
  .text{
    color:#fff;
    font-family: Roboto;
    /*padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;*/
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    text-align: left;
    font-size:1rem;
    margin-right: auto;
    margin-left: 4%;
    margin-top: 4%;

  }
}


/*about us css end*/

/*project gallery css start*/
.body{
	/* background-color: rgba(1, 0, 5, 0.87); */
	/* background-color: #252426; */
	/* background: #fff; */
	background-repeat: repeat;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#testimonial {
    /* padding: 30px 0px 20px; */
    color: #fff;
    /* background-color: #010005; */
	background-color: rgba(1, 0, 5, 0.87);
	height:100%;
	justify-content: center;
	align-items: center;
}


#testimonial .carousel-content {
    padding: 0px 0px 20px 0px;
    width: 100%;
    margin: 0 ;
    /* position: absolute; */
	margin-left: 155px;
	padding-right: 60px;
	margin-right: 50px;

}
#testimonial h3 {
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}
#testimonial p {
    font-size: 1rem;
}

#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}
@media (max-width: 576px) {
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}

#testimonial h3, #testimonial p {
    text-align: center;
}
}


/* .row{
	margin-top: 150px;
} */

.section-title{

	font-family: Zilla Slab;
	font-size: 64px;
	text-align: center;
	color:#FCBE02;
	/* margin-top: 50px; */
	padding-top: 50px;
}
.carousel-item-projectgallery{
	border:2px #fff;
}
.projectbox
{
  text-align: center;
}

#contentbox{
	background-color: rgba(238, 238, 238, 0.23);
	/* padding: 125px; */
	/* padding-bottom: 175px; */
	/* height:400px; */
	height:fit-content;
	width:70%;
	border-radius: 28px;
	margin-top: 30px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	padding:20px ;

  }
#maintext{
	text-align: center;
	padding-top: 20px;
	word-wrap: break-word;
	overflow:hidden;


}
.one{
	margin-top: 0px;

}
#id{
	/* width:60px;
	height: 10px; */
	/* width: 100%; or any custom size */
	width:200px;
    height: 100%;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
    object-fit: contain;
	padding-top: 30px;
	padding-left: 10px;
}
@media(max-width:768px){
	#maintext{

		word-wrap: break-word;
		overflow:hidden;
	}
}
@media(max-width:992px){
	#testimonial .carousel-content {
		margin-left: 80px;

	}
}
@media(max-width:446px){
	#testimonial .carousel-content {
		margin-right: 100px;

	}
}
@media(max-width:991px){
	#id{
		/* padding-left: 50px; */
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
}

/*project gallery css end*/
